{% extends 'default.html' %}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>

{% if request.user.is_authenticated %}
    {% if is_subscribed %}
        <form method="post" action="{% url 'unsubscribe_category' category.pk %}">
            {% csrf_token %}
            <button type="submit">Отписаться</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'category_detail' category.pk %}">
            {% csrf_token %}
            <button type="submit">Подписаться</button>
        </form>
    {% endif %}
{% else %}
    <p>Чтобы подписаться на эту категорию, вам необходимо <a href="{% url 'login' %}">войти</a> или <a href="{% url 'signup' %}">зарегистрироваться</a>.</p>
{% endif %}
{% endblock content %}
